*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* Nav bar start */

.nav-bg{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 3px solid #ffb320;
    z-index: 20;
}
.nav-logo{
    margin-left: 8%;
}
.nav-detail a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    
}
.nav-detail a:hover{
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid #ffb320;  
    
}
.nav-button{
    margin-right: 8%;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #ffb320;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 700;
    background-color: #ffb320;
}


/* Nav bar end */



/* header text star */

.header-bg-img{
    background-image: url(images/slider-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 900px; 
}
.hr-txt{
    margin-left: 8%; 
}
.hr-txt h1{
    color: white;
    padding-top: 20%;
    font-size: 60px;
    font-weight: 400;
     
}
.hr-txt span{
    color: #ffb320; 
    
}
.hr-txt p{
    color: white;
    margin-right: 60%;
    line-height: 30px;
    margin-top: 2%; 
    margin-bottom: 2%;  
}
.hr-txt a{
    
    border: 2px solid #ffb320 ;  
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    color: white;
}
.hr-txt a:hover{
    background-color:#ffb320  ;
    border-radius: 30px;
    color: black;
    font-weight: 700;
}

/* header text end */

/* latest news start */
.news-bg{
    display: flex;
    
    
}
.latest-news{
    background-color: #ffb320;
    height: 70px;
    width: 500px;
    margin-top: 370px;
    display: flex;
    align-items: center;

}
.latest-news h3{
    color: white;
    margin: 0 auto;
    margin-left: 60%;
}

.black-latest-bg{
    background-color: #000000;
    height: 70px;
    width: 100%;
    margin-top: 370px;
    display: flex;
    align-items: center;
}

.news h3{
    border-left: 10px solid rgb(227, 0, 91);
    padding-left: 2%;
    width: 100%;
    font-size: 15px;
    display: inline-block;
    color: white;
    margin-left: 10%;
    font-weight: 400;
}
.second{
    border-left: 10px solid rgb(0, 183, 46);
    padding-left: 2%;
    font-size: 15px;
    color: white;
    margin-left: 10%;
    
}

/* latest news end */

.game-photo-album{
    display: flex;
    margin: 15% 8% 10% 8%;

}
.photo1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.539), rgba(0, 0, 0, 0.539)) ,url(images/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 333.3333333333333px;
    height: 482px;
}
.photo-detail{
    padding-top: 30px;
    padding-left: 30px;
}
.bg-color1{
    background-color: #ff205f;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 6px 25px;
}
.bg-color2{
    background-color: #4eae60;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 6px 25px;
}
.bg-color4{
    background-color: #694eae;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    padding: 6px 25px;
}
.photo-detail h1 {
    margin-top: 75%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
}
.photo-detail p {
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin-right: 30px;
}
.photo-detail span {
    color: rgba(255, 255, 255, 0.712);
    font-size: 10px;
    font-weight: 400;
    margin-right: 30px;
}
.photo2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.539), rgba(0, 0, 0, 0.539)) , url(images/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 333.3333333333333px;
    height: 482px;
}
.photo3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.539), rgba(0, 0, 0, 0.539)) , url(images/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 333.3333333333333px;
    height: 482px;
}
.photo4{
    background-image:linear-gradient(rgba(0, 0, 0, 0.539), rgba(0, 0, 0, 0.539)) , url(images/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 333.3333333333333px;
    height: 482px;

    
}


.recent-games{
    background-image: url(images/recent-game-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 787px;
    background-color: #eef2f6;
}
.recent-tittle{
    text-align: center;
    padding: 5%;

}
.recent-tittle h4{
    background-color: #ff205f;
    display: inline-block;
    padding: 5px 20px;
    color: white;
}
.recent-tittle h1{
    font-size: 30px;
}
.recent-flex{
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
}
.recent-photo{
    background-color: #ffffff;
    width: 400px;
    height: 458px;
    margin-left: 2%;
    
}
.recent-box1{
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: #ff205f;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}
.recent-box2{
    position: absolute;
    top: 20px;
    left: 10px;
    background-color:#694eae;
    color:#fff;
    padding: 5px 10px;
    font-size: 12px;
}
.recent-box3{
    position: absolute;
    top: 20px;
    left: 10px;
    background-color:aqua;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}
.recent-photo-detail h1{
    padding: 30px 20px 30px 10px;
    font-size: 20px;
}
.recent-photo-detail p{
    padding: 0 20px 30px 10px;
    font-size: 12px;
}
.recent-photo-detail span{
    padding: 0 20px 30px 10px;
    font-size: 12px;
}
.recent-icon{
    display: flex;
    flex-direction: row-reverse;
   
}
.star{
    background-color: #ffb320;
    padding: 7px;
    
    
}
.heart{
    background-color:#ff205f;
    padding: 7px;
    
    
}
.recent-icon img{
    
    width:  15px;
    height: 15px;
    
}


.pattern-bg{
    background-color: #0f0e0e;
    width: 100%;
    height: 600px;
}

.war-img{
    background-image: url(images/8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 212px;
    width: 200px;
}
.doom-img{
    background-image: url(images/9.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 212px;
    width: 200px;
}
.tournament-container{
    padding-top: 5.5%;
}
.tournaments{
    margin-left: 8%;
    color: white;
    background-color: #fb6e10;
    display: inline-block;
    padding: 5px 10px;
    
}
.tournament{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
}
.tournament-bg-color{
    background-color: #201e1e;
    height: 400px;
    width: 600px;
}
.pre-tournament{
    color: rgb(0, 0, 0);
    background-color: #ffb320;
    display: inline-block;
    padding: 8px 15px;
    margin-bottom: 12.5%;
}

.tournament-flex{
    display: flex;
    margin-left: 5%;
}

.tournament-details{
    margin-left: 5%;
}
.tournament-details h1{
    color: #ffb320;
    display: inline-block;
}
.tournament-details h5{
    margin: 5% 0;
    color: #ffffff; 
    line-height: 30px;
}
.tournament-details h5 span{
    color: #d9d9d9; 
    font-weight: 300;
}
.tournament-details p{
    color: #d9d9d9; 
    font-weight: 300;
    font-size: 12px
}
.tournament-details p span{
    color:#ffb320
    
}
.second-tournament{
    margin-left: 5%;
}


.reviews-bg-img{
    background-image: url(images/10.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
   
}

.rating-flex{
    display: flex;
    margin: 0 8% 0 8%;
}
.rating-img{
    position: relative;
    margin-left: 1%;
    
    
}

.rating-img img{
    width: 250px;
    height: 310px;
    margin-top: 25px;   
}

.rating{
    background-color: #ff205f;
    padding: 10px;
    border-radius: 30px;
    color: white;
    top: 0;
    left: 30px;
    position: absolute; 
}
.color12{
    background-color:#4eae60;
}
.color13{
    background-color:#fb6e10;
}
.color14{
    background-color:#15d238
}
.review-details{
    width: 300px;
    text-align: center;
    margin-left: -10%;
    margin-bottom: 30%;
    
}
.review-details h1{
    margin: 15px 0;
    
    
}
.review-details p{
    
    
    font-size: 14px;
    
}

.footer-bg{
    background-color: #272626;
}
.footer-flex{
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 7%;
}
.footer-logo{
    width: 262.5px;
    height: 37.5px;
    
    margin-bottom: 2%;
}

.first-footer p{
    color: white;
    width: 400px;
    line-height: 35px;
    margin-top: 20px;
    
}
.latest-post-bg{
    background-color: #0f0e0e;
    width: 350px;
    height: 520px;
}
.latest-post{
    color: white;
    font-weight: 500;
    margin: 30px 20px;
    
}
.latest-flex{
    display: flex;
    margin-left: 20px;
    
}
.second-img{
    margin:40px 20px;
}
.latest-post-img{
    width: 100px;
    height:100px ;
}
.latest-txt-detail{
    margin-left: 20px;
}
.latest-txt-detail h5{
    color: #ffb320;
    font-size: 12px;
    font-weight: 400;
}
.latest-txt-detail p{
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}
.latest-txt-detail span{
    color: #787878;
    font-size: 12px;
    font-weight: 600;
}
.footer-address{
    margin-left: 50px;
    margin-top: 7%;
    
}
.footer-address h3{
    color: #ffb320;
    margin-bottom: 10px;
}
.footer-address h5{
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 400;
}
.contact{
    margin-top: 50px;
}
.footer-address span{
    
    margin-left: 5px;
    color: #b5b5b5;
    font-weight: 300;
}
.footer{
    background-color: #000000;
    width: 100%;
    height: 70px;
}
.footer h3{
    font-size: 12px;
    color: white;
    padding-top: 25px;
    text-align: center;
    font-weight: 300;
}
.footer h3 span{
    color: #ff205f;
    font-size: 15px;
    font-weight: 500;
}
.footer h3 span:hover{
    font-size: 30px;
    transition: 5s;
}